
body{
    background-color: rgb(136, 135, 135);
    margin: 0;
    padding: 0;
}
#home, p{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: rgb(19, 19, 19);
}

ul {
  margin: 0;
  padding: 0;
  width: 920px;
  list-style: none;
  background: #324559;
  float:left;
}

ul li {
  float: left;
}

ul a {
  display: block;
  line-height:2em;
  color: white;
  padding: 0 3em;
  text-decoration: none;
  background: url(imagens/divisor.png) repeat-y;
}

ul .primeiro a {
  background: none;
}

ul a:hover{
  color: #085662;
  background: #44cade;
}

#home #menu .home ,
#html #menu .html a,
#css #menu .css a
{
  color: #f4fafb;
  background-color:#059685;
}